:root {
    --footer-bg: #8c8c94;
    --footer-dark-bg: #394048;
    --footer-light-bg: #f3f3f3;
    --highlight-color: #e70070;
    --button-bg: #071d2b;
    --button-text: white;
    --footer-bottom-bg: #e80070;
}

.footer {
    margin: 0;
    margin-top: 20px;
    border-top: 1px solid lightgrey;
    text-align: left;
    width: 92vw;
}

.footer-top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: var(--footer-bg);
    color: white;
    padding: 20px 30px;
}

.top1 {
    background-color: var(--footer-dark-bg);
}

.top1 .icon {
    color: var(--button-text);
    font-size: larger;
    height: 5vh;
    width: 2vw;
    margin: 10px;
}

.middle {
    background-color: var(--footer-light-bg);
    color: black;
    padding: 50px 30px;
}

.middle>div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.middle .icon {
    background-color: var(--highlight-color);
    color: var(--button-text);
    font-size: larger;
    height: 5vh;
    width: 2vw;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--highlight-color);
    border-radius: 100%;
}

.middle .icons {
    font-size: larger;
    height: 3vh;
    width: 2vw;
    margin: 10px;
    border-radius: 100%;
}

.footer h4 {
    margin: 5px;
    font-weight: 500;
}

.footer ul {
    padding: 10px 0;
    list-style: none;
    font-size: 15px;
}

.footer ul li {
    margin: 5px 0;
}

.footer ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #e70070;
}

.footer_services ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.footer div form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.footer div form input {
    width: 90%;
    padding: 10px 0px;
    border: none;
    outline: none;
    background-color: var(--footer-dark-bg);
    color: white;
    border-bottom: 1px solid white;
    flex: 1;
    font-weight: 700;
    font-size: larger;
}

.footer div form button {
    padding: 10px;
    font-weight: 600;
    color: var(--button-text);
    background-color: var(--footer-dark-bg);
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.footer-bottom {
    margin-bottom: 20px;
    background-color: var(--footer-bottom-bg);
    color: white;
    text-align: center;
    padding: 10px;
}

.footer-bottom ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.footer-bottom ul li {
    margin: 0 10px;
}

.footer-bottom div span {
    margin: 0 2px;
}

/* Mobile (0px to 767px) */
@media only screen and (max-width: 767px) {

    .footer {
        padding: 10px;
        margin: 0px auto;
        width: 90vw;
    }

    .footer-top {
        align-items: center;
        justify-content: flex-start;
        padding: 5px 10px;
    }

    .top1 {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: flex-start;
    }

    .top1 div h4 {
        padding: 2px 0px;
        margin: 0px;
        font-size: 15px;
    }

    .top1 .icon {
        height: 25px;
        width: 20px;
        margin: 5px;
    }

    .middle {
        padding: 10px;
    }

    .top2 {
        justify-content: space-between;
    }

    .middle .icon {
        height: 20px;
        width: 20px;
        padding: 10px;
        margin: 5px;
    }

    .middle .icons {
        height: 20px;
        width: 20px;
        margin: 5px;
    }

    .footer h4 {
        margin: 5px;
        padding: 5px;
        font-weight: 400;
    }

    .footer ul {
        padding: 5px 0;
    }

    .footer div form input {
        width: 100%;
        padding: 5px;
        font-weight: 600;
        font-size: medium;
    }

    .footer div form button {
        padding: 5px;
    }

    .footer-bottom {
        margin-bottom: 300px;
        padding: 5px;
    }

    .footer-bottom ul {
        justify-content: space-around;
    }

    .footer-bottom ul li {
        margin: 2px;
    }
}

/* Tablet (768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .footer {
        margin-top: 30px;
        width: 92vw;
        padding: 10px ;
    }

    .footer-top {
        justify-content: space-between;
        padding: 10px;
    }
    .top1 .icon {
        height: 30px;
        width: 30px;
        margin: 5px;
    }

    .middle {
        color: black;
        padding: 20px;
    }

    .middle>div {
        justify-content: space-between;
    }

    .middle .icon {
        height: 30px;
        width: 20px;
        padding: 5px;
    }

    .middle .icons {
        height: 30px;
        width: 30px;
        margin: 5px;
    }

    .footer h4 {
        margin: 0px;
        padding: 0px;
        font-weight: 400;
    }

    .footer ul {
        padding: 5px 0;
    }

    .footer div form input {
        width: 100%;
        padding: 5px;
        font-size: medium;
    }

    .footer div form button {
        padding: 7px;
        font-weight: 500;
    }

    .footer-bottom {
        margin-bottom: 400px;
    }

    .footer-bottom ul {
        padding: 7px 0;
    }

    .footer-bottom ul li {
        margin: 0 5px;
    }

    .footer-bottom div span {
        margin: 0 5px;
    }
}