.homepage div>h2,
p {
    text-align: left;
    font-weight: 800;
}

.homepage div>h2 {
    margin-bottom: -15px;
    opacity: 0.85;
}
.homepage div>p {
    opacity: 0.7;
}

.product,
.product1,
.product2,
.product3 {
    margin: 40px 0px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    text-align: center;
}

.product2 {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.product3 {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.product-card {
    border-radius: 3px;
    transition: box-shadow 0.3s ease;
    border: 1px solid #e80070;

}

.product-card:hover {
    box-shadow: 0 4px 8px #e80070;
}

.product-image {
    min-width: 300px;
    min-height: 200px;
    object-fit: cover;
    border-radius: 3px;
    border: 1px solid wheat;
}

.product1 img,
.product2 img {
    min-width: 230px;
    min-height: 150px;
}

.product-title {
    font-size: 1.2em;
    margin: 20px 5px;
}

.product-card span {
    font-size: 17px;
    margin: 5px 0;
    font-weight: 600;
}

.product-card p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: auto;
    color:#e80070;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 1;
}

.product-price {
    font-size: 1.1em;
    color: #333;
    margin-bottom: 12px;
}

.product-button {
    width: fit-content;
    margin: auto;
    padding: 10px 16px;
    background-color: rgb(7, 29, 43);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.product-button:hover {
    background-color: rgb(5, 21, 31);
}