.register {
    margin: 30px;
    padding: 20px;
    border: 1px solid #ea0071;
    border-radius: 10px;
}

h1,
h2,
h3,
p {
    font-weight: 400;
    color: #ea0071;
}

p {
    text-align: center;
    font-weight: 700;
    color: #ea0071;
}

.register input,
select,
textarea {
    border: none;
    width: 40vw;
    margin: 20px auto;
    border-bottom: 1px solid #ea0071;
    outline: none;
    font-weight: 600;
}

textarea {
    max-width: 40vw;
}

.register input ::placeholder {
    font-size: larger;
    font-weight: 700;
    color: #ea0071;
}

.register form>div {
    width: 40vw;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ea0071;
    font-weight: 600;
}

.register>form>div div {
    width: 25%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10px;
    text-align: center;
    color: #ea0071;
}

.register>form>div div input {
    margin: 10px 3px;
    float: left;
    width: fit-content;
    color: #ea0071;
}

.register input[type='submit'] {
    background-color: #ea0071;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
    color: white;
    width: fit-content;
    cursor: pointer;
    font-size: large;
}

.category {
    width: 10vw;
    margin-right: 5px;
}

.subcategory {
    width: 30vw;
}


/* Mobile (0px to 767px) */
@media only screen and (max-width: 767px) {
    .register {
        margin: 10px auto;
        padding: 5px;
        width: 85vw;
    }

    h1,
    h2,
    h3,
    p {
        font-size: larger;
        font-weight: 600;
    }

    p {
        font-weight: 500;
        font-size: medium;
    }

    .register input,
    select,
    textarea {
        width: 80%;
        margin: 20px auto;
        font-weight: 600;
    }

    textarea {
        width: 80vw;
    }

    .register input ::placeholder {
        font-weight: 700;
    }

    .register form>div {
        width: 70vw;
    }

    .register input[type='submit'] {
        font-weight: 600;
        padding: 10px 15px;
        font-size: medium;
    }
}


/* Tablet (768px to 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main {
        margin: 0px 10px;
        padding: 0px 10px;
        margin-top: 20vh;
    }

    .register {
        margin: 20px auto;
        padding: 10px;
        width: 90vw;
    }

    h1,
    h2,
    h3,
    p {
        font-weight: 600;
    }

    p {
        font-weight: 600;
    }

    .register input,
    select,
    textarea {
        width: 60%;
    }

    .register form>div {
        width: 55vw;
    }

    .register input[type='submit'] {
        font-weight: 600;
        padding: 10px 15px;
        font-size: large;
    }
}